*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


body{
     font-family: "Roboto Condensed", sans-serif;
     
   }




 .navbar{
      display: flex;
      align-items: center;
      padding: 20px;
 }
 
 nav{
      flex: 1;
      text-align: right;
 
 }
 nav ul{
     display: inline-block;
     list-style-type: none;
 }
 
 nav ul li{
        display:inline-block;
        margin-right:20px;
     }
 a{
      text-decoration:none;
      color:#000000;
 }
 
 p{
      color:#000000;
 }
 
 .container{
           max-width:1300px;
            margin: auto;
            padding-left: 25px;
            padding-right:25px;
 }
 .row{
     display:flex;
     align-items:center;
     flex-wrap: wrap;
     justify-content: space-around;
 }
 .col-2{
     flex-basis: 50%;
     min-width: 200px;
 }
 .col-2 img{
          max-width: 50%;
          padding: 50px  0;
 }

 .col-2 h1{
       font-size:50px;
       line-height: 60px;
       margin: 25px  0;
 }
 .btn{
      display:inline-block;
      background-color: aquamarine;
      color: #df5f56;
      margin: 40px 0;
      border-radius: 50px;
      transition: background 0.5s;
 }

.btn:hover{
     background:#fffb00

}

 
 .header{
     background: chocolate;
 }

 .header .row{
     margin-top: 80px;
 }
.categories{
     margin: 70px 0;
}
.col-3{
       flex-basis: 30%;
       min-width: 250px;
       margin-bottom: 30px;

}